{% extends "base.html.twig" %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block body %}
	<div class="container">
		<div class="mb-5">
			<h1 class="text-center">Modifier mon mot de passe</h1>
		</div>
		{{ form_start(form)}}

		{{ form_row(form.old_password) }}
		{{ form_row(form.new_password) }}

		<div class="card btn btn-primary mt-5">
			<input type="submit" value="Modifier mon mot de passe" class="btn btn-primary">
		</div>
		{{form_end(form)}}
	</div>
{% endblock %}
