{% extends 'base.html.twig' %}

{% block title %}La maison des gamers
{% endblock %}
{# {% block h1 %}Bienvenue{% endblock %} #}

{% block body %}
	{# <img src="{{ asset('image/acceuil.png')}}" alt="ecommerce" class="imgHome"> #}

	<main>
			<div class="col-md-6 mx-auto row">
				<p class="mt-2 mb-2"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, corporis est numquam iste ullam veniam dicta obcaecati ex iusto temporibus recusandae vitae necessitatibus assumenda ipsa, expedita doloribus praesentium enim in?
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum accusantium iusto saepe quo incidunt eveniet sint, aut temporibus minima rem dolorum voluptatum? Hic quibusdam voluptatibus veniam ex facere porro voluptas!
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium recusandae iusto sequi explicabo magnam? Ex itaque nihil esse rerum non blanditiis animi explicabo, minus eos unde voluptas laborum possimus tenetur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repellat voluptatum autem inventore delectus sit aliquam ab placeat quis? Inventore error ea deleniti amet! Illo minus voluptatum excepturi numquam possimus?
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio necessitatibus modi rerum exercitationem, eveniet voluptatem aliquid veniam sequi temporibus quaerat, inventore atque quas nesciunt ad ipsam, minima nemo recusandae facere.
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus, magni assumenda nam, distinctio fuga sit soluta hic, facilis tenetur architecto voluptas iure eveniet fugit dolorum tempora deserunt ducimus in facere.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates placeat cum natus doloribus. Facere odio repudiandae aperiam aliquam voluptatibus, odit nobis provident? Unde eveniet aliquid libero ratione earum deleniti id!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor eaque dolores debitis praesentium possimus consequatur aspernatur ex dicta fuga ullam odit consequuntur deleniti numquam, nam, deserunt, cupiditate sequi nihil expedita.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, sit, consectetur ipsam sapiente veritatis amet laborum in accusantium, fugiat doloremque ipsa veniam obcaecati? Ipsam totam accusamus fuga distinctio quis rerum.
					Itaque quas hic quia omnis deserunt aliquam corrupti provident iure qui! Nam hic sit, facilis cumque voluptas repellendus enim repudiandae delectus fugit nihil dignissimos aperiam placeat omnis quo ab labore.
					Perspiciatis veniam voluptas qui quis illo. Fuga qui inventore, veniam pariatur autem magnam aperiam accusantium reiciendis minima tenetur. Iusto similique fugiat quasi, ullam ipsa illum deleniti quisquam eaque enim harum.
					Ipsa et dignissimos aliquid quia facere incidunt at asperiores! Corporis sapiente exercitationem est asperiores provident consequuntur facilis maxime labore alias incidunt ut debitis, beatae quae tenetur quis commodi aliquid perferendis.
					Provident debitis maiores hic cupiditate! Voluptatibus quibusdam deserunt dolor cupiditate. Asperiores quos, nostrum eaque minima nam optio eveniet iusto accusamus a. Expedita nisi explicabo numquam neque ut doloremque blanditiis saepe?
					Repudiandae, aliquam quibusdam, dolorum eveniet a illum amet fuga earum deleniti ipsum cumque facilis officiis doloribus, adipisci error! Non sequi minima in soluta nam, possimus delectus aperiam ullam atque nobis.
					Quaerat debitis incidunt aperiam, perferendis ullam iste. Mollitia eligendi molestias, odit quisquam dolore illo voluptatem dolor? Magni cum nihil soluta modi velit, enim molestias aliquam iste omnis consequuntur, fugiat in.
					Velit quae esse ipsam sint aliquid reprehenderit culpa, voluptate distinctio? Dolore quam quas earum architecto maiores odit rerum, nulla, quod perspiciatis suscipit, et illo nemo voluptate natus sapiente est doloremque.
					Officia exercitationem saepe totam tempore possimus modi, voluptas, cum quaerat quidem nemo minima, error molestias sequi earum enim. Soluta omnis labore corporis cumque earum eos deserunt recusandae at, repellendus iste.
					Voluptatem quam laborum provident minus accusantium consequuntur iure quo impedit culpa asperiores? Sapiente, perspiciatis vitae cumque fugit quibusdam ad possimus qui, blanditiis illo repellat quis ea mollitia quasi, velit est.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea accusantium eveniet dolores perferendis consectetur quae neque, dignissimos hic debitis veniam molestiae! Doloribu.</p>
			</div>

	</main>
	{% include "_footer.html.twig" %}
{% endblock %}
