{% extends 'base.html.twig' %}

{% block title %}Mention légal{% endblock %}

{% block body %}
	<div class="row justify-content-center container-fluid">
		<div class="col-5 mt-2 mb-2">
			<p>Lorem ipsum dolor sit amet consectetur, 
				adipisicing elit. Rerum, ratione nobis enim voluptatibus 
				aut facilis necessitatibus amet quisquam veritatis sed voluptas 
				maxime ipsum doloribus, quam repellendus earum facere repellat eius!
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam mollitia, 
				eveniet quam aut hic iste provident ut sequi perspiciatis molestias eum veniam 
				itaque omnis aspernatur explicabo voluptates qui officiis harum?
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
				Vero saepe dolor eveniet, nulla et iste corporis officia ad voluptates, 
				porro odit, excepturi nesciunt. Voluptatem accusamus iusto veritatis eos
				tempore. Repellendus?</p>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
				Eum cupiditate molestiae quo odio ab 
				deserunt minima, similique praesentium ex itaque commodi 
				eaque iusto, temporibus tempore harum sed animi, alias enim.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi doloremque nostrum quia quae aliquid iste 
				optio error necessitatibus possimus eos aperiam obcaecati neque rem repudiandae, totam id fugit, placeat sapiente.</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil minus quia 
				corrupti repellendus possimus adipisci maiores! Necessitatibus commodi distinctio 
				quod totam deserunt quibusdam neque beatae nihil amet sit! Ab, possimus.</p>
			<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam ullam 
				repellat provident sunt. Obcaecati, quisquam optio tempore, ad iure qui officia numquam, 
				assumenda ipsam quod deserunt? Repellendus, ipsa? Repellat, illum?</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati 
				illum eos iusto tempore perferendis aliquam ad veniam provident dolores! 
				Totam eligendi velit voluptatum, dolorem quo pariatur repellendus amet dolore 
				repudiandae!</p>
			<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem enim, 
				id commodi asperiores itaque illum rerum quisquam 
				soluta tenetur facere, reiciendis blanditiis minus aliquid 
				libero consequatur nostrum? Voluptas, perferendis placeat?</p>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates fugiat 
				officiis placeat beatae ea, 
				quos soluta quis error eligendi laudantium corporis quia sint ad 
				aliquid veritatis maiores eaque consectetur amet.</p>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus numquam debitis 
				expedita cumque veniam officiis perspiciatis, explicabo sed quasi dolorum aliquid! 
				Iste consectetur explicabo voluptate consequuntur sit ducimus autem maiores?</p>
                p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus numquam debitis 
				expedita cumque veniam officiis perspiciatis, explicabo sed quasi dolorum aliquid! 
				Iste consectetur explicabo voluptate consequuntur sit ducimus autem maiores?</p>
		</div>
	</div>
{% endblock %}
