<footer class="bg-dark d-flex justify-content-center align-items-center">
    <a class="text-decoration-none text-white" href="{{ path('app_mention_legal') }}">Mention légale</a>
    <a href=""></a>
</footer>